/* Estilo para el formulario de libros */
.book-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Estilo para las etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
.form-control {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Estilo para el botón de enviar */
.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Estilo para el botón de enviar al pasar el ratón */
.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla de libros */
.book-table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilo para las celdas de encabezado */
.book-table th {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    text-align: left;
}

/* Estilo para las celdas de datos */
.book-table td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

/* Estilo para las celdas de acciones */
.book-table .actions {
    width: 100px; /* Ajusta el ancho según sea necesario */
}

/* Estilo para los enlaces de acción */
.book-table .actions a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

/* Estilo para el botón de eliminar */
.book-table .actions form {
    display: inline-block;
}

/* Estilo para el botón de eliminar al pasar el ratón */
.book-table .actions form input[type="submit"] {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.book-table .actions form input[type="submit"]:hover {
    text-decoration: underline;
}
